* {
    font-family: 'Jost', sans-serif;
}

.color-secondary {
    color: #64646A;
}

.standart-btn {
    color: white;
    background-color: #000;
    border-radius: 126px;
    text-transform: uppercase;
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 18px 0;
    margin-bottom: 20px;
}

.wrapper {
    background: linear-gradient(173.34deg, #FFFFFF 0%, #FFFFFF 0%, rgba(243, 244, 245, 0.2) 11.74%, #F3F4F5 27.92%, rgba(243, 244, 245, 0) 44.79%, rgba(243, 244, 245, 0.68) 60.42%, #F3F4F5 79.17%, #FFFFFF 100%);
}